@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: rgb(162, 209, 245);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
  color: black;
}
.heading {
  background: bisque;
  font-size: clamp(1.5rem, 4vw, 2rem);
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 0.4rem;
  transition: 250ms ease-in-out;
}
.navbar {
  background: orange;
  height: clamp(8rem, 25vw, 8.5rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 250ms ease-in-out;
}
.wallSwitch {
  background: lightcoral;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.3rem 0.2rem 0.3rem 0.2rem;
  border-radius: 0.5rem;
  transition: 250ms ease-in-out;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 250ms ease-in-out;
}

label {
  margin-right: 0.3rem;
  font-size: clamp(0.7rem, 1vw, 4rem);
  font-weight: bold;
  transition: 250ms ease-in-out;
}
button {
  background: lightgreen;
  font-weight: bold;
  border-style: solid;
  padding: 0.3rem;
  border-radius: 0.4rem;
  border-color: darkgreen;
}
button:hover {
  cursor: pointer;
  background: darkgreen;
  color: aliceblue;
}
header:hover {
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  box-shadow: rgba(175, 42, 42, 0.623) 0px 5px 15px;
}
